.cell{
  width: 85%;
  background-color: whitesmoke;
}

.cell p{
  overflow-wrap: anywhere;
}

.cell-pub-name{
  font-weight: bold;
}

.cell-pub-date{
  color: gray;
}

.cell-comment{
  margin-top: 25px;
}

.comment-form{
  margin-top: 30px;
  margin-bottom: 30px;
}