{% extends "comments/basic.html" %}

{% block content %}
  <h2>{{theme.title}}</h2>
  {% if theme %}
      {% for cell in theme.cells.all %}
          <fieldset class="cell">
              <p>{{ cell.publisher_name }}  :  {{cell.pub_date}}</p>
              <p>{{cell.comment_text}}</p>
          </fieldset>
      {% endfor %}
  {%else%}
      <p>No comment</p>
  {% endif %}

  <div class="comment-form">
    {%if contribute_form%}
        <form action="{% url 'comments:comment-contribute' theme.id %}" method="post">{% csrf_token %}
            <table>{{contribute_form.as_p}}</table>
            <button type="submit">送信</button>
        </form>
    {%else%}
        <p>No form</p>
    {%endif%}
  </div>

{% endblock %}